<div class="jumbotron">
  <div class="container">

    <div class="col">
        <div class="row">
           <div class ="col-xs-3" bordre>
              <img src="assets/images/image.jpg" class="img-thumbnail" alt="profile image"><hr>
            </div>
           <div class ="col-xs-3 color" *ngIf="showComments">
              <p *ngFor="let com of comments">
                {{com}}
              </p>
           </div>
        </div>
        <div class="row">
           <div class ="col-xs-3">
              <div class="container">
                  <div class="row">
                    <label>Name: {{currentUser.firstName}}</label>

                  </div>
                  <div class="row">
                    <label>Last Name: {{currentUser.lastName}}</label>

                  </div>
                  <div class="row">
                    <label>Age: {{currentUser.age}}</label>

                  </div>
                </div>
            </div>
           <div class ="col-xs-3">
                  <textarea name="Comment" id="" cols="30" rows="2" [(ngModel)]="currentComment"></textarea>
                  <button class="btn-primary" (click)="addComment()">Post</button>
           </div>

        </div>

  </div>
</div>
